{% extends './base.html' %}
{% block head %}
    <title>Polls Application</title>
{% endblock %}
{% block content %}
    <h1 class="display-1"># Poll Questions</h1>
    {% if latest_ques_list %}
        <ul>
            {% for que in latest_ques_list %}
            <li>
                <a class="lead" href="{% url 'polls:detail' que.id %}">{{ que.que_text }}</a>
            </li><br>
            {% endfor %}
        </ul>
    {% else %}
        <h6 class="display-6"> # &nbsp;&nbsp;&nbsp; No Polls are available.</h6>
    {% endif %}
{% endblock %}