<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polls Application</title>
</head>

<body>
    <h1># Poll Questions</h1>
    {% if que_list %}
    <ul>
        {% for que in que_list %}
        <li style="border-left:4px solid rgb(0, 98, 128);padding: 5px 15px;">
            <a href="/polls/{{ que.id }}">{{ que.que_text }}</a>
        </li><br>
        {% endfor %}
    </ul>
    {% elif que %}
    <h3>Question: <code style="border-bottom:2px solid lightsalmon;padding: 5px 15px;">{{ que.que_text }}</code></h3>
    <form action="" method="post">
        <input type="hidden" name="qid" value="{{ que.id }}">
        <ul>
            {% for choice in que.choice_set.all %}
            <li> <input type="radio" name="choice" value="{{ choice.cho }}">{{ choice.cho }} </li>
            {% endfor %}
        </ul>
        <input type="submit" value="Vote">
    </form>
    {% else %}
    <p>No Polls are available.</p>
    {% endif %}
</body>

</html>